.custom-select-container {
  position: relative;
  box-sizing: border-box;
}
.custom-select-container * {
  box-sizing: border-box;
}
.custom-select-container.is-disabled {
  opacity: .333;
}
.lang select{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding:0

}
#contact-form .custom-select-opener {
  display: block;
  cursor: pointer;
  width: 100%;
 
}
#contact-form .custom-select-opener{
  padding: 16px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  width: 100%;
  max-width: 594px;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 700px;
}
.custom-select-container select {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.custom-select-panel {
  max-height: 0;
  transition: all .5s ease-out, overflow-y 0.1s 0.5s;
  overflow: hidden;

  color: #1d2abc;
  position: absolute;
  top: 100%;
  z-index: 1;
  width: 100%;
}
:root{
  --custom_select_height: 47px;
  --custom_select_count: 1;
  --lang_select_height: 34px;
  --lang_select_count: 2;
}
.custom-select-option {
  padding: 12px 24px;
  cursor: pointer;
  height: var(--custom_select_height);
}

.custom-select-container.is-open .custom-select-panel {
  max-height: calc(var(--custom_select_height) * var(--custom_select_count));
  overflow-y: auto
}
.lang .custom-select-container.is-open .custom-select-panel {
  max-height: calc(var(--lang_select_height) * var(--lang_select_count));
  overflow-y: auto
}

.lang .custom-select-container .custom-select-panel::-webkit-scrollbar {
  display: none;
}

.custom-select-option.has-focus {
  background-color: #dde0ff;
}
.custom-select-option.is-selected::before {
  /* content: "✔";
  padding-right: 0.5em; */
}
.custom-select-optgroup > .custom-select-option {
  padding-left: 2em;
}
.custom-select-optgroup::before {
  content: attr(data-label);
  display: block;
  padding: 0.5em;
  color: #888;
}
.custom-select-option:first-of-type {
  border-bottom: none;
  border-radius: 24px 24px 0 0;
}

.custom-select-option:last-of-type {

  border-radius: 0 0 24px 24px;
}

.custom-select-option {
  background-color: #fff;
}
.lang  select{
  visibility: hidden;
    position: absolute;
    top: 0;
    left:0;
    border: none;
    opacity: 0;
}
.lang .custom-select-opener {
  padding: 0 40px 0 8px;
  border: 0;
  
}
.custom-select-opener:after{
  content:"";
  background-image: url('/assets/icons/select-icon.svg');
  background-repeat: no-repeat;
  width: 20px;
  display: block;
  position: absolute;
  height: 20px;
  right: 0;
  top: 0;
  z-index: 10;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
.custom-select-container.is-open .custom-select-opener:after{
  transform: scaleY(-1);
}
#contact-form .custom-select-opener:after {
  top: 16px;
  right: 24px;
}
.lang .custom-select-option {
  padding: 5px 12px;
  height: auto;
  text-align: center;
}

.lang .custom-select-option:first-of-type {
  border-radius: 12px 12px 0 0;
}

.lang .custom-select-option:last-of-type {
  border-radius: 0 0 12px 12px;
}