.swiper.references-slider{
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;

}
.swiper-button-next, .swiper-button-prev {
    position: static;
    width: 40px;
    height: 40px;
    margin: 0px;
}

.swiper-button-next {
    right: 44px;
}

.swiper-button-prev {
    right: 100px;
    left: auto;
}
@media(min-width: 1024px){
    .swiper.references-slider{
        padding-left: 50%;
        margin-left: auto;
        margin-right: 0px;
    } 
    .swiper.references-slider .swiper-wrapper{
        background: #1823A7;
    }
    .swiper.references-slider .swiper-wrapper::after{
        content: '';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10em;
    width: 20em;
    height: 100%;
    background: linear-gradient(270deg, #1823a7 0%, rgb(23 36 167 / 0%) 100%);
    z-index: -1;
    }
}