@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --line-width: 3045px;
}

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    * {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
    }

    @font-face {
        font-family: "TT Norms Pro";
        src: url("/assets/fonts/TTNormsPro-Rg.ttf") format("truetype");
        font-weight: 400;
    }

    @font-face {
        font-family: "TT Norms Pro";
        src: url("/assets/fonts/TTNormsPro-Md.ttf") format("truetype");
        font-weight: 500;
    }

    body {
        font-size: 16px;
        font-family: "TT Norms Pro";
        font-weight: 400;
        background-color: #2C39D8;
        color: #fff;

    }

    h1 {
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h2 {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
    }

    h3 {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    p {
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    input:not([type="radio"], [type="checkbox"]),
    textarea,
    select {
        padding: 16px 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #fff;
        width: 100%;
        max-width: 594px;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 700px;
    }

    input:not([type="radio"])::placeholder,
    textarea::placeholder {
        color: #fff;
    }

    textarea {
        border-radius: 24px;
    }


     input:not([type="checkbox"]):focus,
    select:focus,
    textarea:focus {
        outline-offset: -4px;
        outline-color: #acb2fd;
        outline-width: 1px;
        outline-style: double;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    ol li {
        position: relative;
        padding-left: 38px;
    }

    ol li::before {
        content: counter(list-item, decimal-leading-zero) '.';
        padding-right: 16px;
        position: absolute;
        left: 0;
    }

    em {
        font-style: normal;
        border-radius: 159px;
        border: 1px solid #fff;
        padding: 3.75px 6px;
        white-space: nowrap;
    }

    @media(min-width: 1024px) {
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 32px;
        }

        h3 {
            font-size: 30px;
        }

    }

    header {
        position: sticky;
        top: -49px;
        z-index: 40;
        background: #2C39D8;

    }

}


@layer components {
    .isHome header {
        background: #1823a7;
    }

    .wrapper {
        padding-left: 32px;
        padding-right: 32px;
    }

    @media(min-width:1024px) {
        .wrapper {
            padding-left: 48px;
            padding-right: 48px;
        }
        .home-hero-section{
            height: calc(100vh - 121px);
            display: grid;
        }
    }

    .btn {
        padding: 14px 24px;
        border-radius: 60px;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-align: center;
        cursor: pointer;
        display: block;
        width: max-content;
        height: fit-content;
    }

    .btn.small {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 15px;
    }

    .btn.white {
        border: 1px solid #fff;
        background-color: #FFF;
        color: #1823A7;
        transition: background-color linear 300ms, border-color linear 300ms, padding-right linear 400ms;
    }


    .btn.main {
        color: #fff;
        background: #1823A7;
    }

    .btn.second {
        color: #1823A7;
        background-color: #D4D6FD;
        border: 1px solid #D4D6FD
    }


    .btn.line {
        border: 1px solid #ACB2FD;
        color: #ACB2FD;
        transition: background-color linear 300ms, border-color linear 300ms, color linear 300ms;
    }
/* 
    .custom-select {
        position: relative;
        width: 100%;
        cursor: pointer;
        z-index: 10;
        color: #fff;
    }

    .custom-select-icon {
        position: absolute;
        right: 16px;
        top: 20px;
        display: block;
        width: 20px;
        height: 20px;
        pointer-events: none;
        background-image: url('/assets/icons/select-icon.svg');
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    .custom-select input:focus~.custom-select-icon {
        transform: scaleY(-1);
    }

    .custom-select-content {
        --custom_select_content_height: 100px;
        height: 0px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        overflow: auto;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
        background: #1d2abc;
        z-index: 10;
        border-radius: 24px;
        border: 1px solid #fff;
        margin-top: 7px;
        opacity: 0;
    }

    .custom-select input:focus {
        padding: 16px 24px;
    }

    .custom-select input:focus+.custom-select-content {
        height: var(--custom_select_content_height);
        opacity: 1;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    .custom-select input:not(:focus):not(:placeholder-shown) {
        background: rgba(171, 207, 209, 0.30);
    }

    .custom-select-content li {
        --custom_select_height: 47px;
        height: var(--custom_select_height);
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #fff;
        width: 100%;
        padding: 14px 16px;
        background: #1E2ABC;
        cursor: pointer;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    }

    .custom-select-content li:hover {
        background: #2C39D8 !important;
    }
 */
    /* .custom-select-content li:nth-child(2n) {
        background: rgba(171, 207, 209, 0.10);
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;
    } */
/* 
    .custom-select-content::-webkit-scrollbar {
        width: 3px;
    }

    .custom-select-content::-webkit-scrollbar-track {
        background-color: transparent;
        margin: 8px 16px 0;
    }

    .custom-select-content::-webkit-scrollbar-thumb {
        background: #fff;
    } */

    .native-select {
        background-image: url('/assets/icons/select-icon.svg');
        background-repeat: no-repeat;
        background-position: calc(100% - 24px);
    }

    input.newsletter {
        padding-left: 0px;
        padding-right: 30px;
        border: none;
        border-radius: 0px;
        color: #C6CAFF;
        border-bottom: 1px solid #C6CAFF;
    }

    input.newsletter:focus {
        outline: none;
    }


    input.newsletter::placeholder {
        color: #C6CAFF;
    }

    select.lang {
        border: none;
        color: #C6CAFF;
        font-size: 14px;
        text-align: center;
        padding: 0;
        cursor: pointer;
        background-image: url('/assets/icons/lang-select.svg');
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 16px;
    }

    select.lang:focus {
        border: none;
        outline: none;
    }

    .link {
        position: relative;
    }

    .link:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 2px;
        right: 0;
        height: 0;
        background: currentColor;
        transition: all .3s ease;
    }

    .main-nav .current.link:after {
        font-weight: 500;
        height: 1px;
    }

    .video-gradient {
        background: linear-gradient(0deg, rgb(0 0 0 / 52%) 91.57%, rgb(0 0 0 / 83%) 108.71%), #000650;
    }

    .main-menu {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 100%;
        right: 0px;
        width: 100%;
        background: #DFE1FF;
        color: #1823A7;
        padding: 0px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 9999;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
        border-radius: 32px 0 0 32px;
        margin: 16px 0 16px 16px;
        padding-right: 16px;
    }

    .main-menu.is-open {
        left: 0;
    }

    .btn:active {
        transform: scale(0.98);

    }

    .main-btn:active {
        transform: scale(0.98);
    }

    .main-btn:active .btn {
        transform: scale(1);
    }

    .bg-image {
        overflow: hidden;
        background-color: #000554;
        position: absolute;
        left: 50%;
        right: 0;
        top: -25%;
        transform: translateX(-50%);
        opacity: 1;
        bottom: 0;
        height: 50vh;
        width: 50vh;
        border-radius: 100%;
        contain: paint;
    }

    .video-bg{
        position:fixed;
        bottom:-30px;
        z-index: 20;
        object-position:center;
        object-fit: cover;
        height: 30vh;
        opacity: 0;
        width: 100vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .bg-video {
       /*  position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center; */
    }

    .contain-paint {
        contain: paint;
    }

    .home-mask{
        z-index: 0;
    height: 30vh;
    max-height: 30vw;
    min-height: 15.0694vw;
    transform-origin: 50% 100%;
    position: fixed;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transform: scale(1);
    }
    .home-mask >svg{
        width: 101vw;
    height: 190.764vw;
    max-width: none;
    transform-origin: 50% 100%;
    object-fit: cover;
    position: absolute;
    top: -154.2vw;
    bottom: auto;
    left: -0.5vw;
    right: -0.5vw;
    }
    .video-cover{
        position: fixed;
        inset: 0;
        background: #1823A7;
        opacity: 0;
        z-index: 21;
    }
    /* .second-up{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) skew(10deg, 10deg);
    } */
    .point {
        position: absolute;
        right: 0;
        transition: background-color linear 400ms, right linear 400ms;
    }

    .main-btn {
        position: relative;
        padding-right: 44px;
        transition: padding-right linear 400ms;
    }
    @media(min-width: 768px) {
        .video-bg{
            bottom: -10px;
            height: 30vh;
            width: 65vw;
        }
        .home-mask{
            z-index: 0;
        height: 30vh;
        max-height: 30vw;
        min-height: 15.0694vw;
        transform-origin: 50% 100%;
        position: fixed;
        top: auto;
        bottom: 0%;
        left: 0%;
        right: 0%;
        transform: scale(1);
        }
        .home-mask >img{
            width: 101vw;
        height: 190.764vw;
        max-width: none;
        transform-origin: 50% 100%;
        object-fit: cover;
        position: absolute;
        top: -157.2vw;
        bottom: auto;
        left: -0.5vw;
        right: -0.5vw;
        }
        .main-menu {
            position: static;
            flex-direction: row;
            width: auto;
            background: none;
            padding: 0;
            color: inherit;
        }

        .main-btn:hover {
            padding-right: 0px;
            transition: padding-right linear 400ms;
        }

        

        .btn-text.white {
            color: #1823A7;
            padding-right: 24px;
            transition: background-color linear 400ms, border-color linear 400ms, padding-right linear 400ms;
        }

        .main-btn:hover .btn-text {
            padding-right: 44px;
            background: #8d95f9;
            border-color: #8d95f9;
            transition: padding-right linear 400ms, border-color linear 400ms, background-color linear 400ms, ;
        }

        .btn-text.line {
            transition: padding-right linear 400ms, border-color linear 400ms, background-color linear 400ms, color linear 400ms;
        }

        .main-btn:hover .btn-text.line {
            color: #1823A7;
            transition: padding-right linear 400ms, border-color linear 400ms, background-color linear 400ms, color linear 400ms;
        }

        .main-btn:hover .point {
            right: 14px;
            background-color: #fff;
            transition: background-color linear 400ms, right linear 400ms;
        }

        .btn.white:hover {
            background-color: #8d95f9;
            border-color: #8d95f9;
            transition: background-color linear 300ms, border-color linear 300ms, padding-right linear 400ms;
        }

        .btn.second:hover {
            background-color: #8d95f9;
            border-color: #8d95f9;
            transition: background-color linear 300ms, border-color linear 300ms;
        }

        .btn.line:hover {
            background-color: #8d95f9;
            border-color: #8d95f9;
            color: #fff;
            transition: background-color linear 300ms, border-color linear 300ms, color linear 300ms;
        }

        .link:hover:after {
            height: 1px;
            transition: all .3s ease;
        }


    }
    
}

.line-animation-left {
    animation: lines-left 60s infinite linear;
    backface-visibility: hidden;
}

@keyframes lines-left {
    0% {
        transform: translateX(0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translateX(calc(var(--line-width) * -1));
    }
}

.line-animation-right {
    animation: lines-right 60s infinite linear;
    backface-visibility: hidden;
}

@keyframes lines-right {
    0% {
        transform: translateX(0px);
        animation-timing-function: linear;
    }

    100% {
        transform: translateX(var(--line-width));
    }
}

.cursor-follower {
    position: fixed;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    background-color: #C6CAFF;
    color: #1823A7;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    scale: 0.2;
    z-index: 10000;
    user-select: none;
    pointer-events: none;
}


  .toggle:checked, .toggle[checked=true], .toggle[aria-checked=true] {
    background-image: none;
    --handleoffsetcalculator: var(--handleoffset);
    --tw-text-opacity: 1;
    
}
.toggle-left{
    color:#2C39D8;
}
.toggle:checked ~ .toggle-right, .toggle[checked=true] ~ .toggle-right, .toggle[aria-checked=true] ~ .toggle-right{
    color:#2C39D8;
}
.toggle:checked ~ .toggle-left, .toggle[checked=true] ~ .toggle-left, .toggle[aria-checked=true] ~ .toggle-left{
    color:#fff;
}
  .toggle{
    cursor: pointer;
    flex-shrink: 0;
    --tglbg:#2c39d8;
    --handleoffset: 1.5rem;
    --handleoffsetcalculator: calc(var(--handleoffset) * -1);
    --togglehandleborder: 0 0;
    height: 1.5rem;
    width: 3rem;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    border-radius: var(--rounded-badge,1.9rem);
    border-width: 1px;
    border-color: currentColor;
    background-color: currentColor;
    color: var(--fallback-bc,oklch(var(--bc)/.5));
    transition: background,box-shadow var(--animation-input,.2s) ease-out;
    box-shadow: var(--handleoffsetcalculator) 0 0 2px var(--tglbg) inset,0 0 0 2px var(--tglbg) inset,var(--togglehandleborder);
  }
  .toggle-xl{
    --toggle-width: 296px;
    margin: auto;
    width: 100%;
    max-width: 422px;
    height: 58px;
    --handleoffset: calc(var(--toggle-width) / 2);
  }

  .toggle-text{
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 50%;
    text-align: center;
    font-weight: 600;
    line-height: 58px;
    font-size: 14px;
  }
  .toggle-label{
    display: flex;
    position: relative;
    max-width: 422px;
    margin: auto;
  }
  @media(min-width: 400px){
    .toggle-xl{
        --toggle-width: 350px;
    }
  }
  @media(min-width: 522px){
    .toggle-xl{
        --toggle-width: 422px;
    }
    .toggle-text{
        font-size: 16px;
        font-weight: 500;
    }
  }
  @keyframes bounceRight {
    0% {opacity: 1; transform: translateX(0px) scale(1);}
    25%{opacity: 0; transform:translateX(10px) scale(0.9);}
    26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
    55% {opacity: 1; transform: translateX(0px) scale(1);}
  }
  
  .bounce-right:hover svg{
    animation-name: bounceRight;
    animation-duration:1.4s;
    animation-timing-function:linear;
}
/*Lenis*/
html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  body::-webkit-scrollbar{
    display: none;
  }
  .line-up{
    opacity: 0;
    
  }