---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Input from "../components/Input.astro";
import Select from "../components/Select.astro";
import Person from "../components/Person.astro";
import Numbers from "../components/Numbers.astro";
import Teritory from "../components/Teritory.astro";
import PersonReverse from "../components/PersonReverse.astro";
import Director from "../components/Director.astro";

const itemList = [
  "Jesteśmy sprawdzonym partnerem w osiąganiu sukcesu.",
  "Opieramy się na wartościach, profesjonalizmie i skuteczności.",
  "Dostosowujemy grunty do indywidualnych potrzeb Partnerów.",
  "Rozwijamy i skalujemy projekty inwestycyjne (JV).",
  "Elitarna Sieć Ekspertów i Partnerów to nasz klucz do wspólnego osiągania sukcesu.",
  "Stosujemy innowacyjne rozwiązania dla poprawy efektywności.",
  "Angażujemy się w zrównoważony rozwój i jesteśmy odpowiedzialni społecznie.",
  "8invest - lokalne Realizacje, Globalna Perspektywa",
];
---

<Layout title="Home" isHome={true}>
  <section class="pt-8 lg:pt-[120px] pb-[34px] relative z-20">
    <div class="container wrapper">
      <div class="text-center pb-[87px]">
        <h1 class="mb-3">Inwestuj w ziemie, buduj przyszłość!</h1>
        <h3 class="max-w-[687px] mx-auto mb-8">
          Z nami skorzystasz z doświadczenia naszego zespołu, który zdobył
          zaufanie partnerów w branży.
        </h3>
        <div class="flex items-center gap-4 max-w-max mx-auto">
          <a class="btn white">Dowiedz się więcej</a>
          <span class="w-6 h-6 bg-second-600 rounded-full flex-shrink-0 block"
          ></span>
        </div>
      </div>
      <div class="mt-auto flex justify-between items-center">
        <ul class="flex gap-10">
          <li><a class="text-sm">Facebook</a></li>
          <li><a class="text-sm">Linked In</a></li>
        </ul>
        <div class="flex items-center gap-[4px]">
          <span class="h-[1px] w-[78px] block bg-second-200"></span>
          <span class="rounded-full h-[7px] w-[7px] bg-second-200 block"></span>
          <span class="rounded-full h-[7px] w-[7px] bg-second-200 block"></span>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-main-900 rounded-[32px] pb-[167px] pt-[200px] lg:pt-[402px] relative z-10 mt-[125px]  md:mt-0">
    <div class="w-[250px] h-[250px] md:w-[400px] md:h-[400px] lg:w-[700px] lg:h-[700px] video-gradient rounded-full overflow-hidden mx-auto mb-[52px] absolute top-[-125px] md:top-[-200px] lg:top-[-350px] left-1/2 -translate-x-1/2">
      <video autoplay loop muted  class="absolute object-fit w-full h-full left-0 top-0 ">
        <source src="/assets/video/home-2.mp4"/>
      </video>
    </div>
    <div class="continer wrapper">
      
      <div class="mb-[106px] flex flex-wrap lg:flex-nowrap items-center gap-14 max-w-[917px] mx-auto">
        <img src="/assets/images/8invest-icon.png" />
        <div>
          <h2 class="mb-[14px]">Fundusz Inwestycyjny 8Invest </h2>
          <p class="text-2xl">Celem funduszu  jest celowe inwestowanie w ziemię, dostosowane do indywidualnych potrzeb Partnerów Inwestycyjnych. Umożliwiając rozwój i skalowanie ich projektów.  Nasza działalność opiera się na wartościach, profesjonalizmie i skuteczności.</p>
        </div>
      </div>
      <div class="max-w-[1174px] mx-auto">
        <div class="flex flex-col lg:flex-row-reverse gap-5">
          <div class="mb-12 lg:mb-0">
            <img src="/assets/images/home-2.png" class="mx-auto"/>
          </div>
          <div class="flex-1 max-w-[742px] self-center lg:self-left">
            <h3 class="mb-10">Strategiczna przewaga 8Invest:</h3>
            <ol class="mb-10">
              {
                itemList.map((item) => {
                  return <li class="text-lg mb-2 leading-[30px]">{item}</li>;
                })
              }
            </ol>
            <div class="flex  gap-6 items-center">
              <a class="btn white">Lorem ipsum</a>
              <a class="btn line">Lorem ipsum</a>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <Director />
  <PersonReverse />
  <Numbers />
  <Teritory />
  <Person />
</Layout>
