---
const menu = [
  { link: "/portfolio", name: "Portfolio" },
  { link: "/zakupy-gruntow", name: "Zakupy gruntów" },
  { link: "/o-funduszu", name: "O funduszu" },
  { link: "/kontakt", name: "Kontakt" },
];
---

<footer class="bg-main-900 rounded-t-[32px] pt-[116px] pb-[108px]">
  <div class="container wrapper">
    <div class="max-w-[1174px] mx-auto">
      <div class="flex flex-wrap gap-12">
        <div class="max-w-[327px] mr-auto">
          <a href="/" class="mb-8 block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="100"
              height="27"
              viewBox="0 0 100 27"
              fill="none"
            >
              <path
                d="M2.04678 18.7134C0.701754 17.4854 0 15.9649 0 14.269C0 13.6842 0.116959 13.0994 0.292398 12.5146C0.526316 11.9883 0.760233 11.5205 1.05263 11.1696C1.34503 10.8187 1.63743 10.5263 1.92982 10.2339C2.22222 9.94152 2.45614 9.76608 2.69006 9.64912L2.98245 9.47368C2.92398 9.4152 2.8655 9.35673 2.74854 9.29825C2.63158 9.23977 2.45614 9.06433 2.22222 8.83041C1.92982 8.59649 1.75438 8.30409 1.52047 8.07018C1.34503 7.77778 1.16959 7.4269 0.994152 6.95907C0.818714 6.49123 0.760233 6.0234 0.760233 5.49708C0.760233 4.03509 1.40351 2.74854 2.63158 1.63743C3.85965 0.526318 5.38012 0 7.25146 0C9.06432 0 10.6433 0.526318 11.8713 1.63743C13.0994 2.74854 13.7427 4.03509 13.7427 5.49708C13.7427 6.25731 13.5672 7.01755 13.1579 7.66082C12.807 8.3041 12.3977 8.77193 12.0468 9.06433L11.462 9.47368C11.5205 9.53216 11.6374 9.59064 11.7544 9.64912C11.8713 9.7076 12.1053 9.94152 12.4561 10.2339C12.807 10.5263 13.0994 10.8187 13.3333 11.1696C13.5672 11.5205 13.8012 11.9883 14.0351 12.5146C14.269 13.0409 14.386 13.6257 14.386 14.269C14.386 15.9649 13.6842 17.4854 12.3392 18.7134C10.9942 19.9415 9.29824 20.5848 7.19298 20.5848C5.08772 20.5848 3.39181 19.9415 2.04678 18.7134ZM9.47368 16.1988C10.117 15.614 10.4094 14.9708 10.4094 14.269C10.4094 13.5088 10.117 12.8655 9.47368 12.3392C8.83041 11.7544 8.07017 11.462 7.19298 11.462C6.31579 11.462 5.55555 11.7544 4.91228 12.3392C4.269 12.924 3.97661 13.5673 3.97661 14.269C3.97661 15.0292 4.269 15.6725 4.91228 16.1988C5.55555 16.7251 6.31579 17.076 7.19298 17.076C8.07017 17.076 8.83041 16.7836 9.47368 16.1988ZM9.00585 7.4269C9.47368 7.01754 9.7076 6.49123 9.7076 5.84795C9.7076 5.20468 9.47368 4.67836 9.00585 4.26901C8.53801 3.85965 7.95321 3.62573 7.19298 3.62573C6.43275 3.62573 5.84795 3.85965 5.38012 4.26901C4.91228 4.67836 4.67836 5.20468 4.67836 5.84795C4.67836 6.49123 4.91228 7.01754 5.38012 7.4269C5.84795 7.83625 6.43275 8.07018 7.19298 8.07018C7.95321 8.07018 8.53801 7.83625 9.00585 7.4269Z"
                fill="white"></path>
              <path
                d="M28.1288 8.07021C28.2458 7.89477 28.4212 7.71933 28.5966 7.54389C28.7721 7.30998 29.2399 7.01758 29.9417 6.6667C30.6434 6.31582 31.3452 6.14038 32.1054 6.14038C33.6844 6.14038 34.9709 6.6667 35.9651 7.77781C36.9592 8.88892 37.427 10.3509 37.427 12.1638V20.1755H33.6259V12.5731C33.6259 11.7544 33.392 11.0527 32.8656 10.5263C32.3393 10 31.6961 9.76611 30.9358 9.76611C30.0586 9.76611 29.4154 10.0585 28.889 10.5848C28.3627 11.1696 28.1288 11.9299 28.1288 12.9825V20.117H24.3276V6.31582H28.1288V8.07021Z"
                fill="white"></path>
              <path
                d="M44.5616 20.1754L39.3569 6.37427H43.2751L46.4914 15.4971L49.7078 6.37427H53.6259L48.4213 20.1754H44.5616Z"
                fill="white"></path>
              <path
                d="M58.7135 14.503C58.889 15.2632 59.2399 15.9065 59.8831 16.3743C60.5264 16.9006 61.3451 17.1345 62.3393 17.1345C63.041 17.1345 63.7428 17.0176 64.3276 16.7252C64.9124 16.4328 65.3802 16.1404 65.6141 15.9065L66.0235 15.4971L68.0118 18.0117L67.7779 18.2456C67.6609 18.3626 67.427 18.538 67.0176 18.8304C66.6668 19.1228 66.2574 19.3568 65.848 19.5907C65.4387 19.8246 64.8539 20 64.2106 20.1755C63.5673 20.3509 62.8656 20.4094 62.1054 20.4094C60.0586 20.4094 58.3627 19.7076 56.9592 18.3041C55.5557 16.9006 54.7954 15.2047 54.7954 13.2749C54.7954 11.3451 55.4972 9.64916 56.9007 8.24565C58.3042 6.84214 60.0001 6.14038 61.9884 6.14038C63.9767 6.14038 65.6141 6.78366 66.9007 8.12869C68.1872 9.41524 68.889 11.0527 68.889 13.041L68.772 14.5614L58.7135 14.503ZM59.9416 10.0585C59.3568 10.5263 59.0059 11.1111 58.772 11.8714H65.0878C64.9124 11.1111 64.62 10.5263 64.0352 10.0585C63.4504 9.59067 62.8071 9.35675 61.9884 9.35675C61.1697 9.35675 60.4679 9.59067 59.9416 10.0585Z"
                fill="white"></path>
              <path
                d="M79.2398 10.4679C79.1813 10.4094 79.1229 10.2924 78.9474 10.1755C78.8305 10.0585 78.5381 9.88307 78.1872 9.64916C77.7778 9.41524 77.3685 9.35676 76.9591 9.35676C76.4328 9.35676 76.0234 9.47372 75.731 9.70764C75.4386 9.94156 75.2632 10.1755 75.2632 10.4679C75.2632 10.8188 75.4971 11.1111 75.9065 11.3451C76.3158 11.579 76.8422 11.8129 77.4854 11.9883C78.1287 12.1638 78.7135 12.3977 79.3568 12.6316C80 12.8655 80.5264 13.3334 80.9357 13.9182C81.3451 14.503 81.579 15.2047 81.579 16.0819C81.579 17.31 81.1112 18.3626 80.117 19.1813C79.1229 20 77.7778 20.4094 76.0819 20.4094C75.3217 20.4094 74.6784 20.3509 73.9767 20.1755C73.3334 20 72.8071 19.7661 72.3977 19.5322C71.9884 19.2983 71.6375 19.0644 71.3451 18.772C71.0527 18.538 70.8188 18.3041 70.7018 18.1872L70.5264 17.8948L72.6316 15.7895C72.6901 15.9065 72.8071 16.0234 72.9825 16.1989C73.1579 16.3743 73.4503 16.6082 73.9767 16.9006C74.503 17.193 75.0293 17.31 75.5556 17.31C76.1404 17.31 76.6082 17.193 76.9006 16.9591C77.193 16.7252 77.3685 16.4328 77.3685 16.0234C77.3685 15.6726 77.1345 15.3217 76.7252 15.0878C76.3158 14.8538 75.7895 14.6199 75.1462 14.4445C74.503 14.269 73.9182 14.0351 73.2749 13.7427C72.6316 13.4503 72.1053 13.041 71.696 12.5147C71.2866 11.9299 71.0527 11.2281 71.0527 10.4094C71.0527 9.29828 71.579 8.30412 72.5732 7.42693C73.6258 6.54974 74.8539 6.08191 76.3743 6.08191C77.31 6.08191 78.1872 6.25734 79.0059 6.60822C79.8246 6.9591 80.3509 7.30998 80.7018 7.66085L81.1696 8.18717L79.2398 10.4679Z"
                fill="white"></path>
              <path
                d="M86.1401 2.33923H89.532V6.66672H92.339V10.0585H89.532V15.5556C89.532 15.965 89.7074 16.3743 89.9998 16.6667C90.2922 16.9591 90.7015 17.1346 91.2279 17.1346C91.4618 17.1346 91.6957 17.1346 91.9296 17.0761C92.1635 17.0176 92.339 16.9591 92.4559 16.9006L92.6314 16.8422V20.0585C91.8711 20.3509 91.0524 20.4679 90.1167 20.4679C87.1928 20.4679 85.7893 18.8889 85.7893 15.6726V10.0585H83.3916V6.66672H84.6781C85.0875 6.66672 85.4969 6.49128 85.7893 6.1404C86.0817 5.78953 86.2571 5.38017 86.2571 4.79538V2.33923H86.1401Z"
                fill="white"></path>
              <path
                d="M97.7779 20.4094C99.0052 20.4094 100 19.4145 100 18.1872C100 16.9599 99.0052 15.965 97.7779 15.965C96.5506 15.965 95.5557 16.9599 95.5557 18.1872C95.5557 19.4145 96.5506 20.4094 97.7779 20.4094Z"
                fill="white"></path>
              <path
                d="M20.5263 6.37427H16.7251V20.1754H20.5263V6.37427Z"
                fill="white"></path>
              <path
                d="M18.6548 26.9006C19.8821 26.9006 20.8771 25.9057 20.8771 24.6784C20.8771 23.4511 19.8821 22.4562 18.6548 22.4562C17.4275 22.4562 16.4326 23.4511 16.4326 24.6784C16.4326 25.9057 17.4275 26.9006 18.6548 26.9006Z"
                fill="white"></path>
            </svg>
          </a>
          <p class="text-lg lg:text-xl">
            Jorem ipsum dolor sit amet, lorem consectetur adipiscing elit. Nunc
            vulputate libero.
          </p>
        </div>
        <ul>
          {
            menu.map((item) => {
              return (
                <li>
                  <a href={item.link} class="text-xl leading-[34px] pb-4 block">
                    {item.name}
                  </a>
                </li>
              );
            })
          }
        </ul>
        <div class="lg:ml-auto w-full lg:w-auto">
          <form id="newsletter" class="w-full lg:min-w-[412px]">
            <p class="text-xl mb-6">Dołącz do naszego newslettera</p>
            <input
              name="mail"
              type="email"
              placeholder="E-mail"
              class="newsletter"
            />
          </form>
        </div>
      </div>
      <div class="pt-[81px] pb-[88px] md:flex items-center">
        <p class="text-3xl lg:text-[70px] pr-[41px] mb-4 md:mb-0">Porozmawiajmy</p>
        <a href="\kontakt" class="flex  items-center main-btn">
          <span class="btn line btn-text">Kontakt</span>
          <span class="bg-second-400 h-6 w-6 flex-shrink-0 rounded-full point"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="border-t-[0.5px] border-second-600 pt-[39px]">
    <div class="container wrapper">
      <div class="max-w-[1174px] mx-auto">
        <p class="text-[10px]">
          Copyright © 8Invest 2023 | <a href="/"
            >All rights reserved. Terms & Conditions</a
          > | <a href="/">Privacy policy</a>
        </p>
      </div>
    </div>
  </div>
</footer>
