---

---

<section class="rounded-[32px] bg-main-800 pt-[61px] pb-[35px]">
  <div class="container wrapper">
    <div class="max-w-[1174px] mx-auto">
      <div class="mb-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
        >
          <path
            d="M44.3334 10.5H48.3234C48.9038 10.4971 49.4645 10.7107 49.896 11.099C50.3274 11.4873 50.5987 12.0225 50.6567 12.6L54.8101 52.2667C54.8434 52.5903 54.8088 52.9173 54.7083 53.2267C54.6079 53.5361 54.4438 53.8211 54.2267 54.0634C54.0086 54.3051 53.7422 54.4985 53.4449 54.6311C53.1475 54.7637 52.8257 54.8326 52.5001 54.8334H3.50005C3.17445 54.8326 2.85262 54.7637 2.55524 54.6311C2.25787 54.4985 1.99154 54.3051 1.77339 54.0634C1.55628 53.8211 1.39223 53.5361 1.29178 53.2267C1.19132 52.9173 1.15667 52.5903 1.19005 52.2667L5.34339 12.6C5.40143 12.0225 5.67265 11.4873 6.10411 11.099C6.53556 10.7107 7.09626 10.4971 7.67672 10.5H44.3334Z"
            stroke="#ACB2FD"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2.38013 40.8334H53.6201"
            stroke="#ACB2FD"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M4.10669 24.5H51.1875"
            stroke="#ACB2FD"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M37.625 55.125L35.875 10.5"
            stroke="#ACB2FD"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M17.5 55.125L19.25 10.5"
            stroke="#ACB2FD"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <h3 class="my-4">Land developer</h3>
        <p class="lg:text-lg">
          Nasza firma specjalizuje się w precyzyjnym kształtowaniu wartości
          gruntów poprzez strategiczne i zrównoważone działania. Celem naszych
          wysiłków jest identyfikacja obszarów o wysokim potencjale
          inwestycyjnym oraz ich staranne przygotowanie. Wykorzystujemy
          innowacyjne rozwiązania w celu kompleksowej optymalizacji procesów.
          Przeprowadzamy szczegółowe analizy, projektujemy strategiczne
          inwestycje w nieruchomości, kładąc nacisk na precyzję i efektywność.
        </p>
      </div>
      <div class="mb-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
        >
          <path
            d="M13.4166 53.0833H11.0833"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M23.9167 53.0833H21.5833"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M34.4166 53.0833H32.0833"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1.75 42.5833V45.6167"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M18.7834 42.5833V45.6167"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M37.45 42.5833V45.6167"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M54.25 42.5833V45.6167"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M42.5833 53.0833H44.9166"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M13.4166 2.91666H11.0833"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M23.9167 2.91666H21.5833"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M34.4166 2.91666H32.0833"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1.75 13.4165V10.3832"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1.75 23.9164V20.8832"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1.75 34.8833V32.0833"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M18.7834 13.4165V10.3832"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M37.45 13.4165V10.3832"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M54.25 13.4165V10.3832"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2.21666 3.85004C1.95893 3.85004 1.75 3.64109 1.75 3.38335C1.75 3.12563 1.95893 2.91666 2.21666 2.91666"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2.21655 3.85004C2.47428 3.85004 2.6832 3.64109 2.6832 3.38335C2.6832 3.12563 2.47428 2.91666 2.21655 2.91666"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2.21666 53.0833C1.95893 53.0833 1.75 52.8743 1.75 52.6167C1.75 52.3588 1.95893 52.15 2.21666 52.15"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M2.21655 53.0833C2.47428 53.0833 2.6832 52.8743 2.6832 52.6167C2.6832 52.3588 2.47428 52.15 2.21655 52.15"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M53.7833 3.85004C53.5255 3.85004 53.3167 3.64109 53.3167 3.38335C53.3167 3.12563 53.5255 2.91666 53.7833 2.91666"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M53.7834 3.85004C54.041 3.85004 54.2501 3.64109 54.2501 3.38335C54.2501 3.12563 54.041 2.91666 53.7834 2.91666"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M53.7833 53.0833C53.5255 53.0833 53.3167 52.8743 53.3167 52.6167C53.3167 52.3588 53.5255 52.15 53.7833 52.15"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M53.7834 53.0833C54.041 53.0833 54.2501 52.8743 54.2501 52.6167C54.2501 52.3588 54.041 52.15 53.7834 52.15"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M42.5833 2.91666H44.9166"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M38.6166 19.9498H17.6167V36.2831H38.6166V19.9498Z"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M54.25 23.9164V20.8832"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M54.25 34.8833V32.0833"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M45.3833 36.05H48.4166"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M45.3833 19.7166H48.4166"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M8.05005 36.05H11.0834"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M8.05005 19.7166H11.0834"
            stroke="#C6CAFF"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <h3 class="my-4">Projekty</h3>
        <p class="lg:text-lg">
          Realizujemy nowoczesne projekty inwestycyjne, obejmujące różnorodne
          sektory, w tym grunty oraz projekty mieszkaniowe i komercyjne,
          zwłaszcza w obszarach przemysłowym, logistycznym, usługowym i
          handlowym. Każdy projekt podlega starannej analizie i planowaniu,
          mając na celu generowanie satysfakcjonujących zwrotów dla naszych
          inwestorów. Nasza skrupulatność i podejście strategiczne gwarantują
          skuteczne wdrożenie projektów.
        </p>
      </div>
      <div class="mb-10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="56"
          height="56"
          viewBox="0 0 56 56"
          fill="none"
        >
          <path
            d="M22.75 37.1863C22.75 39.361 25.0997 41.125 28 41.125C30.9003 41.125 33.25 39.361 33.25 37.1863C33.25 35.0117 30.9003 33.25 28 33.25C25.0997 33.25 22.75 31.486 22.75 29.3113C22.75 27.1367 25.0997 25.375 28 25.375C30.9003 25.375 33.25 27.1367 33.25 29.3113"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M28 22.75V25.375"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M28 41.125V43.75"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M7 15.75H49C49 15.75 52.5 15.75 52.5 19.25V47.25C52.5 47.25 52.5 50.75 49 50.75H7C7 50.75 3.5 50.75 3.5 47.25V19.25C3.5 19.25 3.5 15.75 7 15.75Z"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M35.798 7.64167C35.5654 6.94507 35.1197 6.33927 34.5238 5.91005C33.9279 5.48082 33.2121 5.2499 32.4777 5.25H23.5223C22.7879 5.2499 22.0721 5.48082 21.4762 5.91005C20.8803 6.33927 20.4346 6.94507 20.202 7.64167L17.5 15.75H38.5L35.798 7.64167Z"
            stroke="#C6CAFF"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
        <h3 class="my-4">JV i Finansowanie</h3>
        <p class="lg:text-lg">
          Realizujemy projekty w formie Joint Venture (JV), nawiązując
          partnerstwa z profesjonalnymi podmiotami branżowymi. Dodatkowo,
          oferujemy kompleksowe finansowanie projektów, umożliwiając elastyczne
          i zrównoważone współpracę biznesowe. Nasza zdolność do dostarczania
          finansowania i profesjonalnego wsparcia przekłada się na skuteczne
          rozwijanie innowacyjnych przedsięwzięć, budując jednocześnie trwałe
          relacje partnerskie oparte na wzajemnym zaufaniu i sukcesie biznesowym
        </p>
      </div>
    </div>
  </div>
</section>
