---

---

<section
  class="py-20 lg:pt-[128px] lg:pb-[202px] bg-main-600 overflow-hidden rounded-[32px]"
>
  <div class="container wrapper">
    <div class="max-w-[1174px] mx-auto">
      <div class="text-roll">
        <div class="flex justify-start gap-8">
          <p class="text-2xl lg:text-4xl whitespace-nowrap text-left line-animation-left">
            Kluczowe dane dotyczące naszych gruntów oraz powierzchni planowanej
            użyteczności, stanowiących niezawodne narzędzia dla rozwijających
            się projektów inwestycyjnych:
          </p>
          <p class="text-2xl lg:text-4xl whitespace-nowrap text-left line-animation-left">
            Kluczowe dane dotyczące naszych gruntów oraz powierzchni planowanej
            użyteczności, stanowiących niezawodne narzędzia dla rozwijających
            się projektów inwestycyjnych:
          </p>
        </div>
        <div class="flex justify-end gap-8 items-center">
          <p class="text-2xl lg:text-4xl whitespace-nowrap text-right line-animation-right">
            Kluczowe dane dotyczące naszych gruntów oraz powierzchni planowanej
            użyteczności, stanowiących niezawodne narzędzia dla rozwijających
            się projektów inwestycyjnych
          </p>
          <p class="text-2xl lg:text-4xl whitespace-nowrap text-right line-animation-right">
            Kluczowe dane dotyczące naszych gruntów oraz powierzchni planowanej
            użyteczności, stanowiących niezawodne narzędzia dla rozwijających
            się projektów inwestycyjnych
          </p>
        </div>
      </div>
      <div
        class="pt-14 lg:pt-[120px] flex flex-wrap gap-14 lg:gap-0 justify-between"
      >
        <div class="grid lg:gap-4">
          <div class="overflow-hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="56"
              height="56"
              viewBox="0 0 56 56"
              fill="none"
            >
              <path
                d="M44.3334 10.5H48.3234C48.9038 10.4971 49.4645 10.7107 49.896 11.099C50.3274 11.4873 50.5987 12.0225 50.6567 12.6L54.8101 52.2667C54.8434 52.5903 54.8088 52.9173 54.7083 53.2267C54.6079 53.5361 54.4438 53.8211 54.2267 54.0634C54.0086 54.3051 53.7422 54.4985 53.4449 54.6311C53.1475 54.7637 52.8257 54.8326 52.5001 54.8334H3.50005C3.17445 54.8326 2.85262 54.7637 2.55524 54.6311C2.25787 54.4985 1.99154 54.3051 1.77339 54.0634C1.55628 53.8211 1.39223 53.5361 1.29178 53.2267C1.19132 52.9173 1.15667 52.5903 1.19005 52.2667L5.34339 12.6C5.40143 12.0225 5.67265 11.4873 6.10411 11.099C6.53556 10.7107 7.09626 10.4971 7.67672 10.5H44.3334Z"
                stroke="#ACB2FD"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M2.37988 40.8334H53.6199"
                stroke="#ACB2FD"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M4.10693 24.5H51.1878"
                stroke="#ACB2FD"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M37.625 55.125L35.875 10.5"
                stroke="#ACB2FD"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M17.5 55.125L19.25 10.5"
                stroke="#ACB2FD"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </div>
          <div class="overflow-hidden">
            <p class="text-4xl line-up">+320 000 m2</p>
          </div>
          <div class="overflow-hidden">
            <p class="text-white/60 text-xl lg:text-3xl line-up">
              Powierzchnia Gruntów
            </p>
          </div>
        </div>
        <div class="grid lg:gap-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="56"
            height="56"
            viewBox="0 0 56 56"
            fill="none"
          >
            <path
              d="M1.1665 52.5H54.8332"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M36.1668 38.5H22.1668C21.548 38.5 20.9545 38.2542 20.5169 37.8166C20.0793 37.379 19.8335 36.7855 19.8335 36.1667V17.5"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M5.8335 17.5V52.5"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M50.1668 52.5V4.66667C50.1668 4.35725 50.0439 4.0605 49.8251 3.84171C49.6063 3.62292 49.3096 3.5 49.0002 3.5H7.00016C6.69074 3.5 6.394 3.62292 6.17521 3.84171C5.95641 4.0605 5.8335 4.35725 5.8335 4.66667V17.5H33.8335C34.4523 17.5 35.0458 17.7458 35.4834 18.1834C35.921 18.621 36.1668 19.2145 36.1668 19.8333V52.5"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M40.8335 17.5H45.5002"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M40.8335 22.1667H45.5002"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M40.8335 26.8333H45.5002"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M40.8335 31.5H45.5002"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 24.5H15.1667"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 29.1667H15.1667"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 33.8333H15.1667"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 38.5H15.1667"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M40.8335 36.1667H45.5002"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M40.8335 40.8333H45.5002"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M40.8335 45.5H45.5002"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M14.0002 45.5H21.0002C21.3096 45.5 21.6063 45.6229 21.8251 45.8417C22.0439 46.0605 22.1668 46.3572 22.1668 46.6667V52.5H12.8335V46.6667C12.8335 46.3572 12.9564 46.0605 13.1752 45.8417C13.394 45.6229 13.6907 45.5 14.0002 45.5Z"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div class="overflow-hidden">
            <p class="text-4xl line-up">+32 000 m2</p>
          </div>
          <div class="overflow-hidden">
            <p class="text-white/60 text-xl lg:text-3xl line-up">
              Projekty Mieszkaniowe (PUM)
            </p>
          </div>
        </div>
        <div class="grid lg:gap-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="56"
            height="56"
            viewBox="0 0 56 56"
            fill="none"
          >
            <path
              d="M1.1665 11.6666V16.3333C1.1665 16.6427 1.28942 16.9395 1.50821 17.1583C1.72701 17.3771 2.02375 17.5 2.33317 17.5H53.6665C53.9759 17.5 54.2727 17.3771 54.4915 17.1583C54.7103 16.9395 54.8332 16.6427 54.8332 16.3333V11.6666C44.4732 0.825971 11.5942 0.758303 1.1665 11.6666Z"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M3.5 52.4907V17.4907"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M52.5 17.4907V52.4907"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 52.5V26.8333C10.5 26.2145 10.7458 25.621 11.1834 25.1834C11.621 24.7458 12.2145 24.5 12.8333 24.5H43.1667C43.7855 24.5 44.379 24.7458 44.8166 25.1834C45.2542 25.621 45.5 26.2145 45.5 26.8333V52.5"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 31.4907H45.5"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 38.4907H45.5"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M10.5 45.4907H45.5"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M1.1665 52.4907H54.8332"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M23.9167 10.5H32.0834"
              stroke="#C6CAFF"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
          <div class="overflow-hidden">
            <p class="text-4xl line-up">+162 000 m2</p>
          </div>
          <div class="overflow-hidden">
            <p class="text-white/60 text-xl lg:text-3xl line-up">
              Projekty Komercyjne (GLA)
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
