---
---

<section class="bg-main-800 pt-[132px] pb-[98px] rounded-[32px]">
    <div class="container wrapper">
        <div class="max-w-[1174px] mx-auto flex flex-wrap lg:flex-nowrap">
            <div class="lg:min-w-[497px] w-full mb-[48px] lg:mt-[-52px] lg:mb-0">
                <img class="mx-auto lg:ml-0" src="/assets/images/person-1.png"/>
            </div>
            <div class="lg:pl-[105px]">
                <h2 class="mb-8">Igor Wójtowicz – Partner inwestycyny</h2>
                <p class="text-2xl">Cechuje  się determinacją i dążeniem do osiągnięcia celu. Jego głównym celem nie jest tylko znalezienie atrakcyjnych nieruchomości, ale także ich profesjonalne przygotowanie do inwestycji. 
                    Jako partner inwestycyjny funduszu 8Invest, Igor Wójtowicz jest aktywny na polu tworzenia nowych możliwości inwestycyjnych na rynku nieruchomości. Jego zaangażowanie i wiedza pozwalają mu podejmować trafne decyzje inwestycyjne, co przekłada się na sukces zarówno dla niego samego, jak i jego partnerów.
                    </p>
            </div>
        </div>
    </div>
</section>