---
---

<section class="bg-main-700 pt-14 pb-20 lg:pt-[196px] lg:pb-[162px] rounded-[32px] scale-up">
    <div class="container wrapper">
        <div class="max-w-[1174px] mx-auto flex flex-wrap lg:flex-nowrap">
            <div class="lg:pr-[105px]">
                <h2 class="lg:text-4xl">Tomasz Gołębiewski</h2>
                <p class="lg:text-3xl mb-6">Dyrektor zarządzający, Założyciel i pomysłodawca</p>
                <p class="lg:text-3xl text-white/60 mb-12">założyciel marek, anioł biznesu i twórca funduszu inwestycyjnego 8Invest, to śmiały wizjoner i innowacyjny przedsiębiorca. Twórca marki Semilac i obecnie członek rady nadzorczej w Nesperta sp. z o.o. Jako pionier wprowadził lakiery hybrydowe na rynek masowy, rozwijając markę Semilac na arenie międzynarodowej, zyskał uznanie.</p>
                <a href="/" class="btn second">Dowiedz się więcej</a>
            </div>
            <div class="lg:min-w-[497px] w-full mb-[48px] lg:mt-[-96px] lg:mb-0 order-first lg:order-none">
                <img class="mx-auto lg:ml-0" src="/assets/images/person-1.png"/>
            </div>
        </div>
    </div>
</section>