---

---

<section class="py-[104px] bg-main-900 rounded-[32px] scale-up">
  <div class="container wrapper">
    <div class="max-w-[1174px] mx-auto flex flex-wrap lg:flex-row-reverse lg:flex-nowrap justify-center">
        <div class="lg:min-w-[497px] lg:w-full mb-[48px] lg:mb-0 relative h-min ">
            <img src="/assets/images/teritory.png" class="relative z-0" />
            <div class="bg-main-800 mix-blend-color rounded-[24px] absolute z-10 w-full h-full inset-0"></div>
          </div>
      <div class="lg:pr-[105px]">
        <h2 class="mb-8">
          Znajdziemy teren dostosowany do indywidualnych potrzeb!
        </h2>
        <p class="lg:text-2xl mb-10">
          Z pasją i precyzją znajdziemy idealny grunt pod Państwa projekt.
          Odkryjcie potencjał inwestycyjny z nami! Zachęcamy serdecznie do
          nawiązania kontaktu w celu uzyskania dodatkowych informacji
          dotyczących obecnie dostępnych terenów oraz szczegółów prezentowanych
          ofert. Nasz zespół z przyjemnością udzieli istotnych informacji i
          służy pomocą przygotowaniu propozycji szytych na miarę.
        </p>
        <a  class="btn second" href="/kontakt">Skontaktuj się z nami</a>
      </div>
      
    </div>
  </div>
</section>
